---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { timeline } from "../../data/timeline"
import "../../styles/event.scss"


export async function getStaticPaths() {
  const paths = timeline.map(event => ({
    params: { event: event.param },
  }));

  return paths;
}
const params = Astro.request.url.split("/Articulos/")[1]
const event = timeline.find(event => event.param === params)
---

<BaseLayout pageTitle={event?.title} >
   <div class="d-flex flex-column align-items-center">
      <div class="container  d-flex justify-content-between px-5 pt-2 pb-5  position-relative flex-wrap-reverse">
         
         <div class='w-50 eventText d-flex flex-column justify-content-center py-5 px-4 gap-2 lineHeight '>
            
            <h2 class="fs-3 fw-bold raw-umber-font letterSpace">{event?.title}</h1>
            <div class="fs-5 fw-semibold mb-3 coyote-font">Articulo sacado de: {event?.nombrePagina}</div>
            <p class="fs-5 m-0 justify-text">{event?.textComplete}</p>
          
            <a class="raw-umber-font fw-bold  letterSpace" href={event?.link}>Seguir leyendo la cita original</a>
            <button class="btnGoBack mt-5 fw-medium d-flex justify-content-center align-items-center gap-2 raw-umber-font" onclick="window.history.back()"> 
               
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
               </svg>
             Volver
            </button>
         </div>
         <img class="eventImg mt-5" src={event?.img.src} alt="Map" />
      </div>
      
      
   </div>

</BaseLayout>